# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Properties files
*.properties

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# Project gen files
.idea/
.allure/
.gradle/
allure-results/
gradle/
build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
/gradlew
/gradlew.bat
.src/test/java/gmail/salokin1991/commonFiles/
/src/test/java/gmail/salokin1991/commonFiles/LoginTest.java
/src/test/java/gmail/salokin1991/commonFiles/SystemProperties.java
/allure-report/data/attachments/2c859d9b6d03edad.html
/allure-report/data/test-cases/1232c70b149e39ae.json
/allure-report/data/attachments/5253255e4f2176ee.html
/allure-report/app.js
/allure-report/data/attachments/b4c69fc7352babdb.txt
/allure-report/data/behaviors.csv
/allure-report/data/behaviors.json
/allure-report/widgets/behaviors.json
/allure-report/data/categories.csv
/allure-report/data/categories.json
/allure-report/widgets/categories.json
/allure-report/history/categories-trend.json
/allure-report/widgets/categories-trend.json
/allure-report/data/attachments/cb2d80d8aa97718a.png
/allure-report/widgets/duration.json
/allure-report/history/duration-trend.json
/allure-report/widgets/duration-trend.json
/allure-report/widgets/environment.json
/allure-report/widgets/executors.json
/allure-report/favicon.ico
/allure-report/history/history.json
/allure-report/history/history-trend.json
/allure-report/widgets/history-trend.json
/allure-report/index.html
/allure-report/plugins/behaviors/index.js
/allure-report/plugins/packages/index.js
/allure-report/plugins/screen-diff/index.js
/allure-report/export/influxDbData.txt
/allure-report/widgets/launch.json
/allure-report/export/mail.html
/allure-report/data/packages.json
/allure-report/export/prometheusData.txt
/allure-report/history/retry-trend.json
/allure-report/widgets/retry-trend.json
/allure-report/widgets/severity.json
/allure-report/widgets/status-chart.json
/allure-report/plugins/screen-diff/styles.css
/allure-report/styles.css
/allure-report/data/suites.csv
/allure-report/data/suites.json
/allure-report/widgets/suites.json
/allure-report/widgets/summary.json
/allure-report/data/timeline.json
